:root {
  /* //colorset1
  --color1 : #eddcd2;
  --color2 : #fff1e6;
  --color3 : #fde2e4;
  --color4 : #fad2e1;
  --color5 : #c5dedd;
  --color6 : #dbe7e4;
  --color7 : #f0efeb;
  --color8 : #d6e2e9;
  --color9 : #bcd4e6;
  */

  --color1 : coral;
  --color2 : coral;
  --color3 : coral;
  --color4 : coral;
  --color5 : coral;
  --color6 : coral;
  --color7 : coral;
  --color8 : coral;
  --color9 : coral;
  --color10 : coral;
  --color11 : coral;
  --color12 : coral;
  --color13 : coral;
  --color14 : coral;
  --color15 : coral;
  --color16 : coral;
  --color17 : coral;
  --color18 : coral;

}
* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

body {
  background-color : #fefefe;
  font-family : cursive;
}

main {
  position : relative;
  display : inline-block;
  min-height : 50vh;
  min-width : 100%;
  margin : auto auto;
}
selectgroup {
  position : absolute;
  top : 0;
  bottom : 0;
  width : 20vw;
  background-color : beige;
  padding : 20px;
}

selectgroup.mandatory {
  left : 0;
}

selectgroup.selective {
  right : 0;
}

selectgroup ul {
  list-style : none;
  padding-inline-start : 10px;
  position : relative;
}

selectgroup > ul {
  display : inline-grid;
  grid-template : 1fr / 1fr 1fr;
}

selectgroup > ul > li {
  margin : 0 30px 30px 0;
}

selectgroup li.end.selected::after {
  content : ' ';
  display : inline-block;
  position : absolute;
  left : 0;
  margin-top : 10px;
  width : 6px;
  height : 6px;
  border-radius : 4px;
  background-color : blue;
}

timetable {
  display : grid;
  justify-content: center;
  grid-template : repeat(15, 6vh) / repeat(8, 5vw);
}

days {
  display : grid;
  justify-content: center;
  grid-template : 6vh / repeat(8, 5vw);
}

day {
  filter : drop-shadow(0 0 10px #00000011);
  background-color : #00000033;
  display : inline-flex;
  justify-content: center;
  align-items: center;
  font-size : 20px;
}

time {
  display : inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-top : 1px solid black;
}

day#sun {color : red;}
day#sat {color : blue;}

course {
  filter : drop-shadow(0 0 15px #00000022);
  padding : 10%;
  opacity : .4;
  font-size : 12px;
  word-wrap : break-word;
  border : 1px black solid;
  z-index : 1;
}

#credit {
  position : absolute;
  display : inline-block;
  bottom : 30px;
  right : 30px;
}

course.g1 {background-color : var(--color1);}
course.g2 {background-color : var(--color2);}
course.g3 {background-color : var(--color3);}
course.g4 {background-color : var(--color4);}
course.g5 {background-color : var(--color5);}
course.g6 {background-color : var(--color6);}
course.g7 {background-color : var(--color7);}
course.g8 {background-color : var(--color8);}
course.g9 {background-color : var(--color9);}
course.g10 {background-color : var(--color10);}
course.g11 {background-color : var(--color11);}
course.g12 {background-color : var(--color12);}
course.g13 {background-color : var(--color13);}
course.g14 {background-color : var(--color14);}
course.g15 {background-color : var(--color15);}
course.g16 {background-color : var(--color16);}
course.g17 {background-color : var(--color17);}
course.g18 {background-color : var(--color18);}
course.g19 {background-color : var(--color19);}


course:not(.selected) {
  opacity : 0;
  z-index : 0;
}

course.hovering {
  opacity : .3;
  background-color : skyblue;
}

course.sun{grid-column : 2 / 3;}
course.mon{grid-column : 3 / 4;}
course.tue{grid-column : 4 / 5;}
course.wed{grid-column : 5 / 6;}
course.thu{grid-column : 6 / 7;}
course.fri{grid-column : 7 / 8;}
course.sat{grid-column : 8 / 9;}

.s10{grid-row-start : 1;}
.s11{grid-row-start : 2;}
.s12{grid-row-start : 3;}
.s13{grid-row-start : 4;}
.s14{grid-row-start : 5;}
.s15{grid-row-start : 6;}
.s16{grid-row-start : 7;}
.s17{grid-row-start : 8;}
.s18{grid-row-start : 9;}
.s19{grid-row-start : 10;}
.s20{grid-row-start : 11;}
.s21{grid-row-start : 12;}
.s22{grid-row-start : 13;}

.e10{grid-row-end : 1;}
.e11{grid-row-end : 2;}
.e12{grid-row-end : 3;}
.e13{grid-row-end : 4;}
.e14{grid-row-end : 5;}
.e15{grid-row-end : 6;}
.e16{grid-row-end : 7;}
.e17{grid-row-end : 8;}
.e18{grid-row-end : 9;}
.e19{grid-row-end : 10;}
.e20{grid-row-end : 11;}
.e21{grid-row-end : 12;}
.e22{grid-row-end : 13;}
